body {
    background-color: rgb(65, 64, 64);
    color:white;
    text-align: center;
}

form {
    border: 1px solid white;
    border-radius: 5%;
    margin:auto;
    max-width: 250px;
    padding:1em;
}

label {
    padding:0.5em;
}

input {
    margin:1em 0;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color:rgb(175, 96, 96)
}

.xdebug-error, .xe-notice{
    color:black;
}

#editform {
    border-color: red;
    position: fixed;
    right: 0;
}